/* Sticky footer styles */
html {
	position: relative;
	min-height: 100%;
}
body {
	// Margin bottom by fixed navbar height
	margin-top: 71px;
	// Margin bottom by footer height
	margin-bottom: 51px;
	background: lighten($brand-info, 30%);
	overflow-x: hidden;
}
#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	// Footer fixed height
	height: 51px;
	border-top: 1px solid #d3e0e9;
	background-color: #fff;
}
/*
* Navbat
*/
.navbar-toggle {
	line-height: normal;
}
.dropdown .dropdown-menu {
	min-width: 100%;
}
#flash-messages {
	margin: 15px 0;

	.alert {
		padding-left: 0;
		margin-bottom: 0;
		border: 0;
	}
}
/*
* Main Content
*/
.page-header {
	margin-top: 4px;
}
.container.homepage > .row {
	position: relative;
	-webkit-transition: all .25s ease-out;
	-o-transition: all .25s ease-out;
	transition: all .25s ease-out;
}
.row-offcanvas {
	left: 0;
}
.row-offcanvas.active {
	left: 50%;

	#sidebar {
		width: 50%;
		display: block;
	}
}
#sidebar {
	position: absolute;
	top: 0;
	width: 0;
	margin-left: 7.5px;
	left: -50%;
	display: none;
}
@media (min-width: $screen-sm-min) {
	.row-offcanvas.active {
		left: 25%;

		#sidebar {
			width: 25%;
		}
	}
	#sidebar {
		left: -25%;
	}
}
.btn#toggle-sidebar {
	margin-right: 20px;
}
.advert .panel-heading .lead {
	margin-bottom: 5px;
}
.advert .table td:first-child {
	width: 150px;
}
.pagination {
	margin: 0;
}
.pagination-wrapper {
	margin: 10px 0;
}
/*
* Footer
*/
.copyright {
	margin: 10px 0;
}